<div class="navbar-container">
    <mat-toolbar class="mat-elevation-z2 custom-toolbar">
        <span>Dashboard</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>notifications</mat-icon>
        </button>
    
        <div class="avatar">
            <div class="avatar-container">
                <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <img class="avatar-content" src="https://avatars.githubusercontent.com/u/111951?v=4&s=70"/>
                </button>
            </div>
        </div>
    </mat-toolbar>
</div>
