// /* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; width: 100%;}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 12px}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(201, 201, 201);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}