<mat-toolbar class="mat-elevation-z2">
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon sub-header-button" aria-label="Example icon-button with heart icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon sub-header-button" aria-label="Example icon-button with heart icon">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon sub-header-button" aria-label="Example icon-button with heart icon">
      <mat-icon>file_download</mat-icon>
    </button>
</mat-toolbar>
